@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #151515;
}

body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
}

.edited-collapse {
    flex-direction: row-reverse;
}

/* darker img from (main-page to section-2) */
.contenedor-dark {
    height: 92vh;
    width: 100%;
    background-color: #1515159a;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------- Section 1 --------------- */
.main-page {
    height: 92vh;
    width: 100%;
    background: url("./IMG_WEB/new-img.png") no-repeat center/cover;
    z-index: 5;
}
.main-page .contenedor-dark {
    height: 100vh;
    max-width: 100%;
}
.main-page .contenedor-dark .main-cont {
    min-height: 70vh;
    width: 60%;
    z-index: 15;
}
.main-page .contenedor-dark .main-cont h1 {
    text-align: center;
    padding: 2em;
    color: #f0f0f0
}
.main-page .contenedor-dark .main-cont p {
    text-align: center;
    padding: 2em;
    color: #f0f0f0
}

/* --------------- Section 2 --------------- */
.section-2 {
    height: 92vh;
    max-width: 100%;
    background: url("./IMG_WEB/Diseño\ sin\ título.png") no-repeat center/cover;
    z-index: 5;
    border-top: 3px solid #000;
}
.section-2 .contenedor-dark {
    height: 100vh;
    max-width: 100%;
}
/* container of experience in section 2 "glass type" */
.section-2 .contenedor-dark .glass-screen {
    background: #fff;
    min-height: 70vh;
    width: 70%;
    margin-bottom: 3em;
    z-index: 15;
    background: linear-gradient(
        to bottom, 
        rgba(0,0,0,0.7), 
        rgba(0,0,0,0.2));  
    border-radius: 2rem;
    backdrop-filter: blur(0.2rem);
}

/* --------------- Section 3 --------------- */
.section-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    max-width: 100%;
    border-top: 3px solid #000;
}
.section-3 div {
    flex: 1 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-3 div ion-icon {
    color: #f0f0f0;
    font-size: 3em;
    padding: 1em;
}
.section-3 div a {
    color: #f0f0f0;
}
/* --------------- Responsive --------------- */
@media only screen and (max-width: 880px) {
    .main-page {
        height: 94vh;
        max-width: auto;
    }
    .main-page .contenedor-dark {
        height: 100%;
        max-width: auto;
    }
    .main-page .contenedor-dark .main-cont{
        flex-direction: column;
    }
    .main-page .contenedor-dark .main-cont h1 {
        font-size: x-large;
        font-weight: 700;
    }
    .main-page .contenedor-dark .main-cont p {
        font-size: large;
        font-weight: 300;
    }
    
    .section-2 {
        height: 94vh;
        max-width: auto;

    }
    .section-2 .contenedor-dark {
        height: 100%;
        width: auto;
    }
    .section-2 .contenedor-dark .glass-screen {
        visibility: hidden;
        max-width: auto;
    }
    
    .section-3 {
        height: 92vh;
        width: auto;
        flex-direction: column;
    }
    .section-3 div ion-icon {
        padding: 0.3em;
    }
}

